<style>
  .container {
    display: flex;

    width: 100%;
    max-width: 800px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding: 15px;
  }

  .value {
    background: #8257e6;
    color: #fff;

    padding: 10px;
    border-radius: 6px;

    width: 15px;
    text-align: center;
    text-decoration: none;
  }

  .level {
    margin: 10px;
  }

  .level,
  .answers {
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
</style>
<div class="container">
  <label>Olá <strong>{{name}}</strong>! Tudo bem?</label>
  <h3>{{title}}</h3>
  <br />
  <strong>{{description}}</strong>
  <div class="level">
    <span>Pouco provavel</span>
    <span>Muito provavel</span>
  </div>
  <div class="answers">
    <a class="value" href="{{link}}/1?u={{surveys_user_id}}">1</a>
    <a class="value" href="{{link}}/2?u={{surveys_user_id}}">2</a>
    <a class="value" href="{{link}}/4?u={{surveys_user_id}}">4</a>
    <a class="value" href="{{link}}/5?u={{surveys_user_id}}">5</a>
    <a class="value" href="{{link}}/6?u={{surveys_user_id}}">6</a>
    <a class="value" href="{{link}}/7?u={{surveys_user_id}}">7</a>
    <a class="value" href="{{link}}/8?u={{surveys_user_id}}">8</a>
    <a class="value" href="{{link}}/9?u={{surveys_user_id}}">9</a>
    <a class="value" href="{{link}}/10?u={{surveys_user_id}}">10</a>
  </div>
  <br />
  <br />
  <strong>Sua opinião é muito importante para nós</strong>
  <h3>Lenivene Bezerra</h3>
</div>